$size: 100%;
html {
    height: $size;
    font-family: 'Acme';
}
body { position: relative;
    overflow-x: hidden;
    min-height: $size;
    margin: 0;
    header {
        width: $size;
        display: flex;
        flex-direction: column;
        background-image: url('./../images/boy-working-on-concept-creatively.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    main { width: auto;}
    .container {
    width: auto;
    margin: 10px;
    padding-bottom: 30px;
    }
    footer {
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: rgb(238, 236, 236);
    }
}


@import "components/content_styles";
@import "components/nav_styles";
@import "components/animate_image";
@import "components/proj_styles";
@import "components/footer_styles";
