html {
  height: 100%;
  font-family: 'Acme'; }

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  margin: 0; }
  body header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("./../images/boy-working-on-concept-creatively.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; }
  body main {
    width: auto; }
  body .container {
    width: auto;
    margin: 10px;
    padding-bottom: 30px; }
  body footer {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #eeecec; }

.button, .banner .pres-text button, .index-content .btn button {
  width: 200px;
  height: 40px;
  border: 0;
  font-family: 'Acme';
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  border: 2px solid #68e1fd;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #53afc5; }

.index-content .box-content .box-image, .developer .image {
  justify-content: space-around;
  display: flex;
  width: 50%; }
  .index-content .box-content .box-image img, .developer .image img {
    width: 70%; }

.index-content .box-content .text, .developer .text {
  width: 50%;
  text-align: center; }
  .index-content .box-content .text h2, .developer .text h2 {
    font-size: 50px;
    margin: 30px 30px 0 30px;
    color: #6d6b7e; }
  .index-content .box-content .text h3, .developer .text h3 {
    font-size: 30px;
    margin: 0px 30px 30px 30px;
    color: #6d6b7e; }
  .index-content .box-content .text span, .developer .text span {
    color: #59bed6; }
  .index-content .box-content .text p, .developer .text p {
    font-size: 20px;
    color: #6d6b7e; }

.button {
  border-radius: 4px;
  width: 100px;
  box-shadow: 5px 5px 5px grey; }

.button:hover {
  background-color: #68e1fd;
  color: #fff; }

@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: local("Acme Regular"), local("Acme-Regular"), url(https://fonts.gstatic.com/s/acme/v10/RrQfboBx-C5_XxrBbg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
.cols-10 {
  width: 10%; }

.cols-20 {
  width: 20%; }

.cols-30 {
  width: 30%; }

.cols-40 {
  width: 40%; }

.cols-50 {
  width: 50%; }

.wdt-10 {
  width: 10px; }

.wdt-20 {
  width: 20px; }

.wdt-30 {
  width: 30px; }

.wdt-40 {
  width: 40px; }

.wdt-50 {
  width: 50px; }

.marg-10 {
  margin: 10px; }

.marg-20 {
  margin: 20px; }

.marg-30 {
  margin: 30px; }

.marg-40 {
  margin: 40px; }

.marg-50 {
  margin: 50px; }

.banner {
  width: 100%; }
  .banner .pres-text {
    justify-content: center;
    text-align: center;
    padding: 20px; }
    .banner .pres-text img {
      border-radius: 50%;
      width: 150px; }
    .banner .pres-text h1 {
      font-size: 40px;
      color: #68e1fd; }
    .banner .pres-text h2 {
      font-size: 30px;
      color: #68e1fd; }
    .banner .pres-text button:hover {
      background-color: #68e1fd;
      color: #fff; }

.index-content .box-content {
  display: flex; }
.index-content .btn {
  display: flex;
  justify-content: center;
  padding: 30px; }
  .index-content .btn button:hover {
    background-color: #68e1fd;
    color: #fff; }

.information {
  width: 100%;
  border: 2px solid #68e1fd;
  border-radius: 10px; }
  .information .box {
    margin: 10px; }
  .information h2 {
    background-color: #dfdede;
    color: #2f495e;
    padding: 20px;
    border-radius: 4px; }
  .information h3 {
    border-bottom: 1px solid #dfdede; }
  .information .box-info {
    margin-left: 20px;
    margin-right: 20px; }

.nav .box-icon a, .box-proj {
  width: 100%;
  justify-content: center;
  display: flex; }

.nav {
  width: auto;
  height: 50px;
  flex-direction: row;
  color: white;
  display: flex;
  position: relative;
  box-shadow: 10px 10px 5px #8287ff;
  border-radius: 50px 15px; }
  .nav .box-icon {
    width: 50px;
    display: flex;
    padding-right: 20px;
    padding-top: 5px; }
  .nav .ico {
    content: url("../../images/docker.png");
    width: 50px;
    height: 50px; }
  .nav li {
    list-style: none;
    text-align: center;
    line-height: 45px;
    display: flex;
    padding-right: 20px;
    width: 80px; }
    .nav li a {
      width: 80px;
      border-radius: 4px;
      color: #2f4962;
      font-size: 17px;
      text-decoration: none; }
    .nav li a:hover {
      width: 80px;
      border-top: 4px solid #868282;
      transition-duration: 0.2s;
      cursor: pointer;
      border-radius: 0; }

.background {
  background-color: #dddddd; }

.logo {
  width: 100%;
  height: 300px;
  justify-content: center;
  display: flex; }
  .logo a {
    display: flex;
    justify-content: center; }
    .logo a img {
      width: 80%; }

.vertically {
  height: 610px;
  overflow: hidden;
  position: relative; }

.vertically .inner {
  position: absolute;
  width: 100%;
  height: 490px;
  /* Starting position */
  -moz-transform: translateY(40%);
  -webkit-transform: translateY(40%);
  transform: translateY(40%);
  /* Apply animation to this element */
  -moz-animation: vertically 5s linear infinite alternate;
  -webkit-animation: vertically 5s linear infinite alternate;
  animation: vertically 5s linear infinite alternate; }

/* Move it (define the animation) */
@-moz-keyframes vertically {
  0% {
    -moz-transform: translateY(70%); }
  100% {
    -moz-transform: translateY(0%); } }
@-webkit-keyframes vertically {
  0% {
    -webkit-transform: translateY(70%); }
  100% {
    -webkit-transform: translateY(0%); } }
@keyframes vertically {
  0% {
    -moz-transform: translateY(70%);
    /* Browser bug fix */
    -webkit-transform: translateY(70%);
    /* Browser bug fix */
    transform: translateY(70%); }
  100% {
    -moz-transform: translateY(0%);
    /* Browser bug fix */
    -webkit-transform: translateY(0%);
    /* Browser bug fix */
    transform: translateY(0%); } }
.developer {
  padding: 30px;
  display: flex; }

.box-proj {
  flex-direction: column; }
  .box-proj .box-url-proj {
    border-radius: 1rem;
    justify-content: center;
    display: flex;
    padding: 20px; }
    .box-proj .box-url-proj .proj {
      width: 50%;
      justify-content: center;
      display: flex;
      flex-wrap: wrap; }
      .box-proj .box-url-proj .proj img {
        width: 100%;
        border-radius: 2rem;
        display: inline-block; }
      .box-proj .box-url-proj .proj p {
        text-decoration: none;
        display: inline-block; }
      .box-proj .box-url-proj .proj h2 {
        display: inline-block; }

.info-footer {
  color: #ff4f03;
  width: 50%;
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin: 20px; }
  .info-footer p {
    color: #e29a59; }

.net-footer {
  display: flex;
  flex-direction: row;
  width: 100%; }
  .net-footer .net-developer img {
    width: 100%; }
  .net-footer .net {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .net-footer .net a {
      align-items: center;
      justify-content: center;
      width: 10%;
      display: flex; }
      .net-footer .net a img {
        margin-bottom: 20px;
        width: 100%; }

/*# sourceMappingURL=styles.css.map */
