.background {
    background-color: rgb(221, 221, 221);
}

.logo {
    width: $size;
    height: 300px;
    justify-content: center;
    display: flex;
    a {
        display: flex;
        justify-content: center;
        img {
            width: 80%;
        }
    }

}

.vertically {
    height: 610px;	
    overflow: hidden;
    position: relative;
   }
   .vertically .inner {
    position: absolute;
    width: 100%;
    height: 490px;
    /* Starting position */
    -moz-transform:translateY(40%);
    -webkit-transform:translateY(40%);	
    transform:translateY(40%);
    /* Apply animation to this element */	
    -moz-animation: vertically 5s linear infinite alternate;
    -webkit-animation: vertically 5s linear infinite alternate;
    animation: vertically 5s linear infinite alternate;
   }
   /* Move it (define the animation) */
   @-moz-keyframes vertically {
    0%   { -moz-transform: translateY(70%); }
    100% { -moz-transform: translateY(0%); }
   }
   @-webkit-keyframes vertically {
    0%   { -webkit-transform: translateY(70%); }
    100% { -webkit-transform: translateY(0%); }
   }
   @keyframes vertically {
    0%   { 
    -moz-transform: translateY(70%); /* Browser bug fix */
    -webkit-transform: translateY(70%); /* Browser bug fix */
    transform: translateY(70%); 		
    }
    100% { 
    -moz-transform: translateY(0%); /* Browser bug fix */
    -webkit-transform: translateY(0%); /* Browser bug fix */
    transform: translateY(0%); 
    }
   }