.info-footer {
    color: #ff4f03;;
    width: 50%;
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin: 20px;
    p {
        color: #e29a59;
    }
}
.net-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    .net-developer {
        img {
            width: 100%;
        }
    }
    .net {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        a {
            align-items: center;
            justify-content: center;
            width: 10%;
            display: flex;
            img {
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }
}
