.developer {
    padding: 30px;
    display: flex;
    .image {
        @extend %image;
    }
    .text {
        @extend %text;
    }
}

.box-proj {
    @extend %size-a;
    flex-direction: column;
    .box-url-proj {
        border-radius: 1rem;
        justify-content: center;
        display: flex;
        padding: 20px;
        .proj {
            width: 50%;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            img { width: 100%;
                border-radius: 2rem;
                display: inline-block;
                }
            p {
                text-decoration: none;
                display: inline-block;
            }
            h2 {
                display: inline-block;
            }
        }
    }
}